In [1]:
import h2o

In [2]:
h2o.init()

/home/sparkuser/anaconda3/lib/python3.7/site-packages/h2o/backend/connection.py:369: UserWarning: Proxy is defined in the environment: http_proxy. This may interfere with your H2O Connection.
  "This may interfere with your H2O Connection." % name)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_112"; Java(TM) SE Runtime Environment (build 1.8.0_112-b15); Java HotSpot(TM) 64-Bit Server VM (build 25.112-b15, mixed mode)
  Starting server from /home/sparkuser/anaconda3/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmptq8hi1u4
  JVM stdout: /tmp/tmptq8hi1u4/h2o_sparkuser_started_from_python.out
  JVM stderr: /tmp/tmptq8hi1u4/h2o_sparkuser_started_from_python.err
  Server is running at http://127.0.0.1:54325
Connecting to H2O server at http://127.0.0.1:54325 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       +08:00
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.3
H2O cluster version age:    1 month and 4 days
H2O cluster name:           H2O_from_python_sparkuser_6ekqzq
H2O cluster total nodes:    1
H2O cluster free memory:    26.67 Gb
H2O cluster total cores:    88
H2O cluster allowed cores:  88
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54325
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.5 final
--------------------------  ------------------------------------------------------------------

In [3]:
h2o.ls()

Empty DataFrame
Columns: [key]
Index: []

In [4]:
data=h2o.import_file(path="/home/sparkuser/jupyter/Bin/NYC_Taxi_Fare/input/train.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [5]:
data.summary()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
type,time,real,string,real,real,real,real,int
mins,1230768027000.0,-300.0,NaN,-3442.059565,-3492.263768,-3442.024565,-3547.886698,0.0
mean,1332289129821.6658,11.345045601662934,NaN,-72.50968444358807,39.91979178688842,-72.51120972971924,39.92068144482932,1.68537992015568
maxs,1435708794000.0,93963.36,NaN,3457.625683,3408.789565,3457.62235,3537.132528,208.0
sigma,58317921008.69086,20.710832198232204,NaN,12.848883381402695,9.642353041994909,12.78219651783083,9.633345796415139,1.3276643570959692
zeros,0,1380,0,1055693,1052158,1052745,1049666,195416
missing,0,0,0,0,0,376,376,0
0,2009-06-15 17:26:21,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.84161,40.712278,1.0
1,2010-01-05 16:52:16,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1.0
2,2011-08-18 00:35:00,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.76127,-73.991242,40.750562,2.0
3,2012-04-21 04:30:42,7.7,2012-04-21 04:30:42 UTC,-73.98713,40.733143,-73.991567,40.758092,1.0
4,2010-03-09 07:51:00,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1.0
5,2011-01-06 09:50:45,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.73163,-73.972892,40.758233,1.0
6,2012-11-20 20:35:00,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1.0
7,2012-01-04 17:22:00,16.5,2012-01-04 17:22:00 UTC,-73.9513,40.774138,-73.990095,40.751048,1.0
8,2012-12-03 13:10:00,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1.0
9,2009-09-02 01:11:00,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.99154,40.758138,2.0

In [6]:
data.head()

key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
2009-06-15 17:26:21,4.5,2009-06-15 17:26:21 UTC,-73.8443,40.7213,-73.8416,40.7123,1
2010-01-05 16:52:16,16.9,2010-01-05 16:52:16 UTC,-74.016,40.7113,-73.9793,40.782,1
2011-08-18 00:35:00,5.7,2011-08-18 00:35:00 UTC,-73.9827,40.7613,-73.9912,40.7506,2
2012-04-21 04:30:42,7.7,2012-04-21 04:30:42 UTC,-73.9871,40.7331,-73.9916,40.7581,1
2010-03-09 07:51:00,5.3,2010-03-09 07:51:00 UTC,-73.9681,40.768,-73.9567,40.7838,1
2011-01-06 09:50:45,12.1,2011-01-06 09:50:45 UTC,-74.001,40.7316,-73.9729,40.7582,1
2012-11-20 20:35:00,7.5,2012-11-20 20:35:00 UTC,-73.98,40.7517,-73.9738,40.7648,1
2012-01-04 17:22:00,16.5,2012-01-04 17:22:00 UTC,-73.9513,40.7741,-73.9901,40.751,1
2012-12-03 13:10:00,9,2012-12-03 13:10:00 UTC,-74.0065,40.7267,-73.9931,40.7316,1
2009-09-02 01:11:00,8.9,2009-09-02 01:11:00 UTC,-73.9807,40.7339,-73.9915,40.7581,2

In [9]:
from h2o.estimators.random_forest import H2ORandomForestEstimator

In [11]:
rf_model=H2ORandomForestEstimator(ntrees=100, max_depth=5, nfolds=10)

In [15]:
rf_model.train(x=data[3:5],y="fare_amount",training_frame=data)

pickup_longitude,pickup_latitude
-73.8443,40.7213
-74.016,40.7113
-73.9827,40.7613
-73.9871,40.7331
-73.9681,40.768
-74.001,40.7316
-73.98,40.7517
-73.9513,40.7741
-74.0065,40.7267
-73.9807,40.7339

pickup_longitude,pickup_latitude
-73.8443,40.7213
-74.016,40.7113
-73.9827,40.7613
-73.9871,40.7331
-73.9681,40.768
-74.001,40.7316
-73.98,40.7517
-73.9513,40.7741
-74.0065,40.7267
-73.9807,40.7339

H2OTypeError: Argument `x` should be a None | integer | string | list(string | integer) | set(string | integer), got H2OFrame

pickup_longitude,pickup_latitude
-73.8443,40.7213
-74.016,40.7113
-73.9827,40.7613
-73.9871,40.7331
-73.9681,40.768
-74.001,40.7316
-73.98,40.7517
-73.9513,40.7741
-74.0065,40.7267
-73.9807,40.7339